header {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  nav ul li a:hover,
  nav ul li a.active {
    color: #f4a261;
    font-weight: bold;
    cursor: pointer;
  }
  